.MainLayout {
  text-align: center;
}

.container {
  max-width: 100%;
  min-height: 100vh;
  background-color: #CED0CF;
  display: flex;
  flex-direction: column;
  border: solid 2px rgb(160, 160, 160);
}

.row {
  min-height: 95px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.center {
  margin: 0 25px;
  display: flex;
  flex: 1 1 auto;
}

.footer {
  min-height: 60px;
  margin: 0 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}