.UserActions {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.UserActions :nth-child(1n+0) {
  margin-right: 10px;
}

.UserActions :last-child {
  margin-right: 0;
}

.form {
width:100%;
display: flex;
justify-content: space-between;
}

.Input {
  flex-grow: 1;
}