.InputZone {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
}

.InputZone .text {
  flex-grow: 1;
}

.InputZone :nth-child(1n+0) {
  margin-right: 10px;
}

.InputZone :last-child {
  margin-right: 0;
}